.cartBar {
  border-bottom: .375rem solid #eee;

  > a {
    display: flex;
    padding: .32rem .126rem;
    border-bottom: .026rem solid #ccc;

    > div {
      &:first-child {
        width: 2.666rem;
        height: 2.666rem;
        margin-right: .266rem;
        border: 1px solid #ccc;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &:last-child {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h4 {
          font-size: .425rem;

          + p {
            color: #f00;

            > span {
              margin-right: .266rem;
              + del {
                color: #aaa;
              }
            }

            + p {
              display: flex;
              justify-content: space-between;
              color: #aaa;
            }
          }
        }
      }
    }
  }

  > div {
    padding: .126rem .126rem;
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: .1333rem;
      padding: .08rem;
      border: .026rem solid #ccc;

      + button {
        color: #f00;
      }
    }
  }
}

.hidden{
  display: none
}
