.paybar{
  width: 100%;
  height: 1.5rem;
  position: fixed;
  bottom: 0;
  background: rgba(246,246,246,.9);

  button{
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 1.5rem;
    color: #fff;
    background: #f60;

    &:last-child{
      background: #f00;
    }
  }
}
