.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > ul {
    width: 30%;
    float: left;
    height: 100%;
    border-right: 1px solid #333;
  }

  > div {

    width: 70%;
    height: 100%;
    float: left;
  }
;
}
