<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>

    body{
      margin: 0;;
      padding: 0;
    }

    .loading-bar{
      position: fixed;
      top:0;
      height: 3px;
      background: cornflowerblue;
      transition: all 1s;
    }

    img{
      width: 200px;
      height: 200px;
    }

    #imagesGroup{
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="loading-bar" id="loadingBar"></div>
  <div id="imagesGroup">
    <img id="img1" alt="">
    <img id="img2" alt="">
    <img id="img3" alt="">
    <img id="img4" alt="">
    <img id="img5" alt="">
  </div>
</body>
</html>
