.my {
  padding-bottom: 1.5rem;

  > div {
    &:first-child {
      height: 5.133rem;
      position: relative;
      box-shadow: insert 0 -0.08rem .8rem #ccc;

      > img {
        width: 100%;
        height: 100%;
      }

      > div {
        position: absolute;
        top: calc(100% - .9335rem);
        left: calc(50% - .9335rem);
        img {
          width: 1.867rem;
          height: 1.867rem;
          border-radius: 50%;
        }
      }
    }

    &:nth-child(2) {
      height: 100px;
      padding-top: 1rem;

      > a {
        > p {
          height: 1.067rem;
          text-align: center;
          line-height: 1.067rem;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          margin-bottom: .266rem;
        }
      }

      > p {
        height: 1.067rem;
        text-align: center;
        line-height: 1.067rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-bottom: .266rem;
        color: red;
      }
    }
  }
}
