.container{
  padding: 1.5rem 0;
  max-width: 100%;

  >div{
    &:not(:last-child){
      border-bottom: .375rem solid #eee;
    }
  }
}


.containerNoBottom{
  padding-top: 1.5rem;
  max-width: 100%;
  background: #eee;
}
