@import "../../style/base";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  box-shadow:  0 2px 3px #ccc;
  position: fixed;
  padding: 0 5%;
  line-height: 1.5rem;
  text-align: center;
  background: #fff;

  button{
    &:first-child{
      margin-right: .15rem;
      background: url("../../../../static/images/back.png") 0 0 no-repeat;
      background-size: 100% 100%;
    }
    &:last-child{
      margin-left: .15rem;
      font-size: 14px;
    }
    width: .8rem;
    height: .8rem;
    line-height: .3rem;
  }

  input {
    height: .8rem;
    border: .01rem solid #ccc;
    border-radius: .21rem;
    padding: .2rem;
    font-size: 14px;
    flex: 1;
  }
}




